*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%;
  scroll-behavior: smooth; }
  @media only screen and (max-width: 75em) {
    html {
      font-size: 50%; } }

body {
  font-family: "Poppins", sans-serif;
  color: #fff;
  line-height: 1.3;
  min-height: 100%;
  width: 100%;
  display: flex;
  flex-direction: column; }

main {
  display: flex;
  flex-direction: column;
  position: relative;
  margin-top: 8rem;
  flex: 0 0 100%; }
  main > :not(:last-child) {
    border-bottom: 1px solid #fff; }

.big-heading {
  font-size: 4rem;
  font-family: "Poppins", sans-serif;
  font-weight: 500; }

.mid-heading {
  font-size: 2.5rem;
  font-weight: 400; }

.sm-heading {
  font-size: 1.7rem; }

.about_paragrapgh {
  color: #24292E;
  font-size: 1.7rem;
  margin-bottom: 1rem; }

.role {
  color: #24292E; }

.numbered-heading {
  display: flex;
  font-size: 4rem;
  font-family: "Poppins", sans-serif; }

.info {
  max-width: 50vw;
  font-size: 1.7rem;
  font-weight: 400; }

.title {
  color: #24292E;
  font-size: 1.3rem; }

.heading-1 {
  font-size: 2.5rem;
  font-weight: 500; }

.mb-sm {
  margin-bottom: 1rem; }

.social {
  width: 1.5rem;
  height: 1.5rem;
  fill: #fff; }

.mb-md {
  margin-bottom: 3rem; }

.mb-lg {
  margin-bottom: 4rem; }

.mb-hg {
  margin-bottom: 8rem; }

.ptb {
  padding-top: 10rem;
  padding-bottom: 10rem; }

.fw-4 {
  font-weight: 400; }

.fw-5 {
  font-weight: 500; }

.navigation {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
  width: 100%;
  font-size: 1.7rem; }
  .navigation__items {
    list-style: none;
    display: flex; }
  .navigation__item--button {
    align-self: center; }
  .navigation__item:not(:last-child) {
    margin-right: 2rem; }
  .navigation__link:link, .navigation__link:visited {
    font-size: 1.5rem;
    font-weight: 500;
    color: #fff;
    text-decoration: none;
    text-transform: uppercase;
    padding: 1.5rem;
    display: block;
    transition: all 0.2s; }
  .navigation__link:active, .navigation__link:hover {
    color: #b81226;
    background-color: rgba(36, 41, 46, 0.2); }

.list {
  list-style: none;
  display: flex;
  flex-wrap: wrap; }
  .list__item {
    flex: 0 0 40%;
    margin-bottom: 0.7rem;
    font-size: 1.5rem; }
    .list__item::before {
      content: "";
      width: 1rem;
      height: 1rem;
      display: inline-block;
      margin-right: 0.7rem;
      background-image: url(../img/svg/arrow-right2.svg);
      background-size: cover; }
      @supports (-webkit-mask-image: url()) or (mask-image: url()) {
        .list__item::before {
          background-color: #b81226;
          mask-image: url(../img/svg/arrow-right2.svg);
          mask-size: cover;
          -webkit-mask-image: url(../img/svg/arrow-right2.svg);
          -webkit-mask-size: cover;
          background-image: none; } }

.btn {
  text-transform: uppercase;
  color: #fff;
  font-size: 1.7rem;
  background-color: #b81226;
  border: 1px solid #b81226;
  border-radius: .5rem;
  padding: 1rem 1.75rem;
  line-height: 1;
  text-decoration: none;
  outline: none;
  cursor: pointer;
  transition: all 0.2s; }

.btn:hover,
.btn:active {
  transform: scale(1.05);
  outline: none; }

.inline-link {
  display: inline-block;
  text-decoration: none;
  text-decoration-skip-ink: auto;
  position: relative;
  cursor: pointer;
  color: #b81226;
  font-weight: 500;
  font-style: bold; }

.project {
  padding: 3rem 3rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .project-content {
    grid-column: 7/-1;
    grid-row: 1/1;
    z-index: 2;
    text-align: right;
    align-self: center; }
  .project-image {
    grid-column: 1/8;
    grid-row: 1/-1; }

.project2 {
  padding: 3rem 3rem;
  display: grid;
  grid-template-columns: repeat(12, 1fr); }
  .project2-content {
    grid-column: 1/8;
    grid-row: 1/1;
    z-index: 2;
    text-align: left;
    align-self: flex-start;
    justify-content: flex-start; }
  .project2-image {
    grid-column: 7/-1;
    grid-row: 1/-1; }

.project-description {
  box-shadow: 0 2rem 3rem -1.5rem #24292E;
  background-color: rgba(184, 18, 38, 0.8);
  padding: 2rem;
  border-radius: .5rem;
  font-size: 1.5rem; }

.project-tech-list {
  display: flex;
  flex-wrap: wrap;
  gap: 1.8rem;
  position: relative;
  z-index: 2;
  margin: 2.5rem 0px 1rem;
  padding: 0px;
  list-style: none;
  justify-content: flex-end;
  font-size: 1.5rem;
  color: #b81226;
  font-weight: 500; }

.project-title {
  font-size: clamp(2.4rem, 5vw, 2.8rem); }

.project-overline {
  color: #b81226;
  font-weight: 500; }

.project-links {
  display: flex;
  justify-content: flex-end;
  gap: 1.8rem; }
  .project-links svg {
    width: 2rem;
    height: 2rem;
    transition: all .3s; }
    .project-links svg:hover {
      fill: #b81226;
      transform: scale(1.1) translateY(-0.3rem); }

.pimage {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
  transform: scale(1);
  filter: blur(0.06rem);
  transition: all .3s; }
  .pimage:hover {
    mix-blend-mode: normal;
    transform: scale(1.2);
    filter: none;
    box-shadow: 0 2rem 3rem -1.5rem #24292E; }

.flexstart {
  justify-content: flex-start; }

.flexend {
  justify-content: flex-end; }

.self-align-end {
  align-self: flex-end; }

.navbrand {
  align-self: center; }
  .navbrand:link, .navbrand:visited {
    font-size: 3rem;
    font-family: "Cinzel Decorative", cursive;
    text-decoration: none;
    text-transform: uppercase;
    display: block;
    color: #fff; }

.container {
  width: 100%;
  padding-right: 10rem !important;
  padding-left: 10rem !important;
  margin-right: auto;
  margin-left: auto; }

.about__text > :not(:last-child) {
  margin-bottom: 1.5rem; }

.about__pic--wrapper {
  background-color: rgba(184, 18, 38, 0.5);
  border-radius: 5px;
  transition: all 0.5s; }

.about__picture {
  width: 100%;
  object-fit: cover;
  object-position: center center;
  mix-blend-mode: multiply;
  filter: grayscale(100%) contrast(1);
  transition: all 1s; }
  .about__picture:hover {
    mix-blend-mode: normal;
    filter: none; }

.tabcontent {
  color: black;
  display: none;
  width: 100%;
  height: auto;
  padding-top: 1rem;
  font-weight: 400;
  line-height: 3rem; }
  .tabcontent .company {
    color: #b81226; }
  .tabcontent .range {
    margin-bottom: 3rem;
    color: #24292E;
    font-size: 1.3rem; }
  .tabcontent .list__item {
    flex: 0 0 100%;
    font-weight: 500; }
  .tabcontent h3 {
    margin-bottom: 5px;
    font-size: 2.2rem;
    font-weight: 500;
    color: #fff; }

.svg__3 {
  fill: white; }

.header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  -webkit-box-pack: justify;
  height: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  padding: 0 5rem;
  transition: all .6s;
  background-color: #24292E;
  width: 100%;
  z-index: 1000;
  background-image: linear-gradient(to right, rgba(184, 18, 38, 0.7) 1%, rgba(0, 0, 0, 0.9)), url(/img/bglarge.jpg); }
  .header .resume-btn {
    align-self: start;
    border: 1px solid #fff; }
    .header .resume-btn:hover {
      background-color: #DF162D; }

.section__one {
  z-index: 1;
  position: relative;
  background-image: linear-gradient(to right, rgba(0, 5, 41, 0.9) 1%, rgba(223, 22, 45, 0.9)), url(/img/bglarge.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
  background-size: cover;
  overflow: hidden;
  height: calc(100vh - 8rem); }
  .section__one .hero-content {
    display: flex;
    align-content: center; }
    .section__one .hero-content__introduction {
      color: #fff;
      --gap: 2rem;
      display: flex;
      flex-direction: column;
      justify-content: center;
      flex-basis: 60%; }
      .section__one .hero-content__introduction--btn {
        align-self: start;
        border: 1px solid #fff;
        margin-top: 3rem; }
        .section__one .hero-content__introduction--btn:hover {
          background-color: #DF162D; }
      .section__one .hero-content__introduction .summary {
        font-size: 2rem;
        font-weight: 300;
        margin-top: 3rem;
        line-height: 3.5rem; }
    .section__one .hero-content__image {
      flex-basis: 40%;
      justify-content: center; }

.section__two {
  background-color: #FCE6CE;
  background-repeat: no-repeat;
  background-position: bottom;
  background-size: fit;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #24292E; }
  .section__two .about {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap: 5rem; }
    .section__two .about__heading {
      align-self: flex-start;
      color: black; }
    .section__two .about__image {
      width: 100%; }
      .section__two .about__image--picture {
        width: 100%; }
    .section__two .about__introduction {
      color: black;
      line-height: 3.2rem;
      font-size: 1.8rem;
      display: flex;
      flex-direction: column; }
      .section__two .about__introduction > * {
        margin-bottom: 1.8rem; }

.section__three {
  background-repeat: no-repeat;
  background-position: top;
  background-size: cover;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  color: #24292E !important; }
  .section__three__heading {
    align-self: flex-end;
    color: black !important; }
  .section__three ul {
    list-style: none;
    padding: 0; }
  .section__three .tabs {
    display: flex; }
    .section__three .tabs__item {
      width: 12rem;
      height: 5rem;
      margin-right: 2.3rem;
      position: relative; }
      .section__three .tabs__item a {
        position: relative;
        display: inline-block;
        color: white;
        width: 100%;
        height: 100%;
        text-transform: uppercase;
        font-size: 1.4rem;
        text-shadow: 0 1px 0 rgba(0, 0, 0, 0.4); }
      .section__three .tabs__item svg {
        width: 120%;
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        z-index: 1;
        pointer-events: none;
        stroke: #fff; }
      .section__three .tabs__item span {
        position: relative;
        padding: 1.5rem 0 0 3rem;
        z-index: 2;
        display: inline-block;
        width: 100%;
        height: 100%;
        cursor: pointer; }
    .section__three .tabs__link--1 {
      z-index: 4;
      fill: rgba(184, 18, 38, 0.9); }
      .section__three .tabs__link--1.active {
        fill: #DF7731;
        color: #fff; }
    .section__three .tabs__link--2 {
      z-index: 4;
      fill: rgba(184, 18, 38, 0.9); }
      .section__three .tabs__link--2.active {
        fill: rgba(223, 22, 45, 0.5); }
    .section__three .tabs__link--3 {
      z-index: 4;
      fill: rgba(184, 18, 38, 0.9); }
      .section__three .tabs__link--3.active {
        fill: #5E3713; }
  .section__three .experince {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
    column-gap: 5rem; }
    .section__three .experince__heading {
      align-self: flex-start;
      color: black; }
    .section__three .experince__image {
      width: 100%; }
      .section__three .experince__image--picture {
        width: 100%; }

.cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(30rem, 1fr));
  gap: 2rem;
  position: relative;
  margin-top: 5rem; }
  .cards .card {
    background-color: #5E3713;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
    height: 100%;
    padding: 2rem 1.75rem;
    border-radius: .5rem;
    box-shadow: 0 2rem 3rem -1.5rem rgba(36, 41, 46, 0.4);
    transition: all .3s; }
    .cards .card:not(:last-child) {
      margin-bottom: 3rem; }
    .cards .card > * {
      margin-bottom: 2rem; }
    .cards .card__header {
      display: flex;
      justify-content: center;
      align-items: center; }
      .cards .card__header:not(:last-child) {
        margin-bottom: 3.5rem; }
      .cards .card__header--folder {
        margin-right: auto; }
        .cards .card__header--folder__icon {
          width: 4rem;
          height: 4rem;
          fill: transparent;
          stroke: #DF7731; }
      .cards .card__header--links > *:not(:last-child) {
        margin-right: 2rem; }
      .cards .card__header--links__icon {
        width: 2rem;
        height: 2rem;
        fill: #fff; }
    .cards .card__title {
      margin: 0px 0px 1rem;
      font-size: 2.2rem; }
    .cards .card__description {
      font-size: 1.5rem;
      line-height: 2rem; }
    .cards .card__tech--list {
      list-style-type: none;
      display: flex;
      font-size: 1.3rem;
      flex-wrap: wrap; }
      .cards .card__tech--list > :not(:last-child) {
        margin-right: 1rem;
        margin-bottom: .5rem; }
    .cards .card:hover, .cards .card:active {
      transform: translateY(-1rem); }

.projects {
  display: flex;
  flex-direction: column; }

.section__four {
  display: flex;
  flex-direction: column;
  background-color: #141215; }

.section__five {
  display: flex;
  flex-direction: column;
  justify-items: center;
  align-items: center;
  text-align: center;
  height: 50vh; }
  .section__five p,
  .section__five button {
    margin-bottom: 3rem; }

.footer {
  display: flex;
  margin-top: 5rem;
  padding: 5rem 0;
  align-content: center;
  justify-content: center;
  text-align: center; }
