// $color-bg:#F0F4FE;
// $color-primary:rgba(0, 0, 0, 0.863);
$color-primary:#24292E;
$color-primary-dark: #b81226;
$color-primary-light:#DF162D;
$color-call-action: #3690C5;
$color-secondary: #96A7D5;
$color-text: #AC0C5C;
$color-call-2: #DFA7D5;
$font-primary: 'Poppins',
sans-serif;
$font-display: 'Poppins',
sans-serif;
$font-brand: 'Cinzel Decorative',
cursive;
//RESPONSIVE
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    scroll-behavior: smooth;
    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: #fff;
    line-height: 1.3;
    min-height: 100vh;
    width: 100%;
    // background-color: #F1F1F1; // /justify-content: space-between;
    // padding-top: 50px;
}

main {
    display: flex;
    flex-direction: column;
    position: relative;
    // margin-top: 8rem;
    flex: 0 0 100%;
    &> :not(:last-child) {
        border-bottom: 1px solid #fff;
    }
}

section {
    // margin: 0px auto;
    // padding: 100px 0px;
    // max-width: 100rem;
}

.parent {
    display: flex;
    flex-direction: column;
}