// $color-bg:#F0F4FE;
$color-primary:rgba(0, 0, 0, 0.863);
$color-primary-dark: #b81226;
$color-call-action: #3690C5;
$color-secondary: #96A7D5;
$color-text: #AC0C5C;
$color-call-2: #DFA7D5;
$font-primary: "Roboto Mono",
monospace;
$font-display: "Josefin Sans",
sans-serif;
$font-brand: 'Cinzel Decorative',
cursive;
//RESPONSIVE
$bp-largest: 75em; //1200px
$bp-large: 62.5em; //1000px
$bp-medium: 50em; //800px
$bp-small: 37.5em; //600px
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    box-sizing: border-box;
    font-size: 62.5%;
    @media only screen and (max-width: $bp-largest) {
        font-size: 50%;
    }
}

body {
    font-family: $font-primary;
    color: $color-primary;
    // font-weight: 300;
    line-height: 1.3;
    padding: 0 5rem;
    min-height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    // /justify-content: space-between;
    // padding-top: 50px;
}

.container {
    // display: grid;
    // grid-template-rows: 8rem auto;
    // grid-template-columns: [full-start] 1fr [center-start] repeat( 8, [col-start] minmax(min-content, 14rem) [col-end]) [center-end] 1fr [full-end];
    // background-color: #fff; 
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    // -webkit-box-align: center;
    -webkit-box-pack: justify;
    width: 100%;
    height: 10rem;
    position: fixed;
    top: 0;
    left: 0;
    padding: 0 5rem;
    transition: top .6s;
    background-color: #fff;
    z-index: 12; // margin-bottom: 20rem;
    width: 100%;
}

main {
    margin-top: 5.4rem; // grid-column: center-start/center-end;
    // grid-row: 2/3;
    // counter-reset: section;
    // background-color: $color-primary;
    display: flex;
    flex-direction: column;
    &> :not(:last-child) {
        margin-bottom: 5rem;
    }
}

section {
    margin: 0px auto;
    // padding: 100px 0px;
    max-width: 100rem;
}