.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: 1.7rem;
    // &__logo {
    //     width: 10rem;
    //     height: 5rem;
    //     align-self: center;
    //     &--lastname {
    //         //  $color-primary
    //     }
    // }
    &__items {
        list-style: none;
        display: flex;
        // grid-column: 3 / span 3;
    }
    &__item {
        &--button {
            align-self: center;
        }
    }
    &__link:link,
    &__link:visited {
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        // font-family: $font-display;
        text-transform: uppercase;
        padding: 1.5rem;
        display: block;
        transition: all 0.2s;
    }
    &__link:active,
    &__link:hover {
        color: $color-primary-dark;
    }
    // &__socials {
    //     font-size: 1rem;
    //     display: flex;
    //     grid-column: 6 / -1;
    //     display: grid;
    //     grid-template-columns: repeat(6, 1fr);
    //     align-items: center;
    //     justify-items: center;
    //     color: #fff;
    //     // grid-column-gap: 3rem;
    //     svg {
    //         width: 1.5rem;
    //         height: 1.5rem;
    //         fill: #fff;
    //     }
    //     .message {
    //         background-color: $color-primary-dark;
    //         width: 3rem;
    //         height: 3rem;
    //         border-radius: 50%;
    //         grid-column: 5 / span 2;
    //         justify-self: end;
    //         display: grid;
    //         justify-items: center;
    //         align-items: center;
    //         svg {
    //             fill: $color-secondary;
    //         }
    //     }
    // }
    // &__number {
    //     color: $color-primary-dark;
    //     margin-right: .5rem;
    // }
}