.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: 1.7rem;
    &__items {
        list-style: none;
        display: flex;
    }
    &__item {
        &--button {
            align-self: center;
        }
        &--icon {
            align-self: center;
            svg {
                align-self: center;
                width: 4rem;
                height: 4rem;
                fill: white;
            }
        }
        &:not(:last-child) {
            margin-right: 2rem;
        }
        &:first-child {
            display: none;
        }
        @media only screen and (max-width: 50em) {
            &:first-child {
                display: block;
            }
        }
        &:not(:last-child) {
            margin-right: 3rem;
        }
        @media only screen and (max-width: 50em) {
            &:not(:first-child) {
                display: none;
            }
        }
    }
    &__link:link,
    &__link:visited {
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        // font-family: $font-display;
        text-transform: uppercase;
        padding: 1.5rem;
        display: block;
        transition: all 0.2s;
    }
    &__link:active,
    &__link:hover {
        font-weight: 700;
        background-color: rgba($color-primary, .2);
    }
}

.responsive-navigation {
    height: 0px;
    width: 100%;
    position: fixed;
    z-index: 9990;
    top: 0;
    left: 0;
    // background-color: $color-primary;
    background-image: linear-gradient(to right, rgba($color-primary-dark, .7)1%, rgba(black, .9)), url(/img/bglarge.jpg);
    overflow-x: hidden;
    transition: all 0.5s;
    display: flex;
    justify-content: center;
    align-items: center;
    &__items {
        padding: 10rem 0px;
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        height: 100%;
        width: 100%;
        list-style-type: none;
        transition: all 0.5s;
    }
    &__link {
        &:link,
        &:visited {
            font-size: 3rem;
            text-decoration: none;
            color: #fff;
            padding: .7rem 1.2rem;
            font-weight: 500;
        }
        &:active,
        &:hover {
            font-weight: 700;
            transition: all 0.3s;
            background-color: rgba($color-primary, .2);
            // border-bottom: 1px solid var(--color-white);
        }
    }
}

.close-menu {
    position: absolute;
    top: 3rem;
    right: 3rem;
    svg {
        width: 6rem;
        height: 6rem;
        fill: #fff;
    }
}