.navigation {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
    width: 100%;
    font-size: 1.7rem;
    &__items {
        list-style: none;
        display: flex;
        .icon {
            display: none;
        }
        // grid-column: 3 / span 3;
    }
    &__item {
        &--button {
            align-self: center;
        }
        &--icon {
            align-self: center;
            svg {
                align-self: center;
                width: 2rem;
                height: 2rem;
                fill: white;
            }
        }
        &:not(:last-child) {
            margin-right: 2rem;
        }
    }
    &__link:link,
    &__link:visited {
        font-size: 1.5rem;
        font-weight: 500;
        color: #fff;
        text-decoration: none;
        // font-family: $font-display;
        text-transform: uppercase;
        padding: 1.5rem;
        display: block;
        transition: all 0.2s;
    }
    &__link:active,
    &__link:hover {
        color: $color-primary-dark;
        background-color: rgba($color-primary, .2);
    }
}

@include respond(phone) {
    .header .navigation .navigation__items li:not(:first-child) {
        display: none;
    }
    .header .navigation .navigation__items .icon {
        display: block;
    }
}

@include respond(phone) {
    .header .responsive {
        position: relative;
    }
    .header .responsive .navigation .navigation__items .icon {
        position: absolute;
        right: 0;
        top: 0;
    }
    .header .responsive .navigation ul li {
        display: block;
    }
}