.section__five {
    display: flex;
    flex-direction: column;
    justify-items: center;
    align-items: center;
    text-align: center;
    color: $color-primary;
    background-color: #FCE6CE;
    // align-content: space-around;
    // max-height: 50vh;
    p,
    button {
        margin-bottom: 4rem;
    }
}

.contact {
    display: flex;
    flex-direction: column;
    width: 100%;
    // max-width: 60rem;
    // background-color: brown;
    justify-content: center;
    align-items: center;
    &__social {
        &>* {
            &:not(:last-child) {
                margin-right: 5rem;
            }
        }
        &__icon {
            width: 5rem;
            height: 5rem;
            fill: $color-primary;
        }
    }
}