.big-heading {
    font-size: clamp(4rem, 8vw, 8rem);
    font-family: $font-brand; // color: $color-primary-dark;
    margin-bottom: 1rem;
}

.mid-heading {
    font-size: clamp(2rem, 8vw, 4rem);
    margin-bottom: 1rem;
    // color: $color-text;
    // font-weight: 500;
}

.sm-heading {
    font-size: clamp(1.4rem, 5vw, 1.6rem);
    margin-bottom: 1rem;
    // color: $color-text;
}

.about_paragrapgh {
    color: $color-primary;
    font-weight: 500;
    font-size: 1.7rem;
    margin-bottom: 1rem;
}

.role {
    color: $color-primary;
}

.numbered-heading {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: clamp(2.6rem, 5vw, 3.2rem);
    color: $color-primary-dark;
    margin-bottom: 1rem;
    font-family: $font-brand;
    &::before {
        // position: absolute;
        // bottom: .4rem;
        // left: -4rem;
        // counter-increment: section;
        // content: "0" counter(section) ".";
        // margin-right: .4rem;
        // color: $color-primary-dark;
        // // font-family: var(--font-mono);
        // font-size: clamp(1.6rem, 3vw, 2rem);
        // font-weight: 400;
    }
    &::after {
        // content: "";
        // display: block;
        // width: 30rem;
        // height: .1rem;
        // margin-left: 1rem;
        // background-color: $color-primary;
    }
}

.info {
    // margin: 3rem 0rem;
    max-width: 60rem;
    font-size: 1.7rem;
    color: $color-primary;
    font-weight: 400;
}

.title {
    color: $color-primary;
    font-size: 1.3rem;
}

.heading-1 {
    font-size: 2.5rem;
    font-weight: 500;
}

.mb-sm {
    margin-bottom: 2rem;
}

.social {
    width: 1.5rem;
    height: 1.5rem;
    fill: #fff;
}

.mb-md {
    margin-bottom: 3rem;
}

.mb-lg {
    margin-bottom: 4rem;
}

.mb-hg {
    margin-bottom: 8rem;
}